@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black: #000000ff;
    --dark-purple: #291528ff;
    --black-olive: #3a3e3bff;
    --ghost-white: #f0eff4ff;
    --mountbatten-pink: #9e829cff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 62.5%;
}